{% include header.html %}
<head>
<link href="/css/syntax.css" rel="stylesheet">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5110791929887799",
    enable_page_level_ads: true
  });
</script>
</head>

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>

